{% extends 'base.html' %}


{% block content %}

<div class="row text-center">
    <div class="col">
        <h1 class="mb-4">Welcome to Shiny Decks!</h1>
    </div>
</div>


<div class="row" id="tweets">
    Loading...
</div>


<script>
    const tweetsElement = document.getElementById("tweets")

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        currentCount++
        return
    }

    function likeBtn(tweet) {
        return "<button class='btn btn-primary' onclick=handleDidLike(" +
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        let formattedTweet = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3 tweet' id='tweet-" + tweet.id 
        + "'><p>" + tweet.content +
        "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        let finalTweetStr = ""
        let i;
        for (i = 0; i < listedItems.length; i++) {
            let tweetObj = listedItems[i]
            let currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock content %}


